apiVersion: v1
kind: Service
metadata:
  name: llmops-service
  labels:
    app: llmops-app
spec:
  
  selector:
    app: llmops-app
  
  ports:
    - protocol: TCP
      port: 80           
      targetPort: 8501   

  
  type: NodePort